@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --gutter: 5px;
    --bg-color-green: #2BA563;
    --bg-color-green-light: #DAEEE3;
    --bg-color-gray: #c0c0c0;
    --bg-color-gray-light: #F3F3F3;
    --text-color-green: #0B8945;
    --text-color-green-light: #A2B5A0;
    --text-color-white: #ffffff;
    --text-color-gray: #8C8C8C;
}

* {
    box-sizing: border-box;
}

.box-shadow-bottom {
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.heading-1 {
    font-size: 24px;
}

.heading-2 {
    font-size: 20px;
}

.heading-3 {
    font-size: 16px;
}

.heading-4 {
    font-size: 14px;
}

.heading-5 {
    font-size: 12px;
}
